/* Dark */

*{
al: 	 #000000;
bg:      #e0def4;
se: 	 #f5f5f5;
fg: 	 #191724;
ac:      #191724;
red:     #eb6f92;
green:	 #9ccfd8;
yellow:	 #f6c177;
blue:	 #31748f;
purple:  #c4a7e7;
cyan:	 #ebbcba;
}
