[Unit]
Description= Lock the screen on resume from suspend
Before = sleep.target suspend.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/%i/.local/bin/lockscreen

[Install]
WantedBy=sleep.target suspend.target
